#!/usr/bin/make -f

export DH_GOLANG_INSTALL_ALL := 1
export GO111MODULE := on

%:
	dh $@

override_dh_auto_build:
	go build -trimpath -ldflags="-s -w" -o psql-stats .

override_dh_auto_install:
	dh_auto_install
	install -Dm755 psql-stats $(CURDIR)/debian/psql-stats/usr/bin/psql-stats

override_dh_auto_test:
	# Skip tests for now, or add your test command here
	true

